<ion-content>
  <div class="ion-margin ion-text-center">
    <h3>Statistical analysis</h3>
  </div>
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        Days of the week
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Weekdays
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>
 
    <ion-card>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
